/.venv/
/.idea/.gitignore
/.idea/Kitsune-py.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/mirai.pcap
/mirai.pcap.tsv
/build/
/AfterImage_extrapolate.c
/AfterImage_extrapolate.cp312-win_amd64.pyd
/memorytest.log
/mirai_labels.csv
/.idea/other.xml
/test_results_test.p
/anomaly_indices.npy
/anomaly_rmses.npy
/normal_indices.npy
/normal_rmses.npy
