/.venv/
/.idea/.gitignore
/.idea/Kitsune-py.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/mirai.pcap
/mirai.pcap.tsv
/build/
/AfterImage_extrapolate.c
/AfterImage_extrapolate.cp312-win_amd64.pyd
